body {
  background-color: #daedf5;
  font-family: "Times New Roman", Times, serif;
}
h1{
  color: #103b4d;
  background-color: #b6d6e3;
  border: 2px solid #103b4d;
  padding: 10px;
  border-radius: 10px;
}
h2{
  color: #103b4d;
  background-color: #b6d6e3;
  border: 2px solid #103b4d;
  padding: 5px;
  border-radius: 8px;
}
p{
  padding: 5px;
}
