body {
  background-color: #daedf5;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
h1{
  color: #103b4d;
  background-color: #b6d6e3;
  border: 2px solid #103b4d;
  padding: 10px;
  border-radius: 10px;
}
h2{
  color: #103b4d;
  background-color: #b6d6e3;
  border: 2px solid #103b4d;
  padding: 5px;
  border-radius: 8px;
}
p{
  padding: 8px;
  font-size: 20px;
}
.text{
  font-size: 20px;
}
img {
  background-color: #b6d6e3;
  border: 2px solid #103b4d;
  width: min(45%, 400px);
  padding: 8px;
  border-radius: 15px;
}
table, th, td {
  border:1px solid black;
  text-align: center;
  width: 80%;
}
